.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & p:nth-child(1) {
    font-weight: 600;
    font-size: 2rem;
    margin-block-start: 4rem;
    margin-block-end: 1rem;
    // color: var(--color-header-text);
    text-transform: capitalize;
  }
}

.inputContainer {
  // margin-inline: 1.6rem;
  gap: 1.9rem;
  display: flex;
  flex-direction: column !important;
  margin-block-start: 2.4rem;
  //   padding-inline: 3rem;
  //   color: #bebbbb;

  @media screen and (max-width: 768px) {
    padding-inline: 0.5rem;
  }
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-block-end: 1.3rem;
  margin-block-start: 2.4rem;
  flex-direction: row;

  gap: 1.6rem;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 2.4rem;
    flex-direction: column-reverse;
  }
}

.btn {
  width: 100%;
}
.popUp {
  box-shadow: 0px 4px 40px 0px #5111ad0d;
  border-radius: 0.8rem;
  padding: 1.6rem;
  border: solid 0.1rem #5111ad0d;
  // & > div {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  & > p {
    color: #707070 !important;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
.popUpTitle{
 
      display: flex;
      justify-content: space-between;
      align-items: center;
    
}
.help{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 2rem;
}
.cv{
  background-color: #0099000D;
   width: 95%;
   border-radius: 0.8rem;
   padding: 0.8rem;
   display: flex;
   gap:0.8rem;
   cursor: pointer;
}
.del{
  display: flex;
  justify-content: space-between;
}

.abs {
  position: relative;
  display: inline-block;
}

.profile {
  width: 13.8rem;
  height: 13.8rem;
  border-radius: 5%;
  background-color: aliceblue;
  padding: 1rem;
}

.abs img:last-child {
  position: absolute;
  bottom: 2rem;
  left: 8rem;
  width: 4rem;
  height: 4rem;
  transform: translate(50%, 50%);
  border-radius: 50%;
}


