.mainContainer {
  display: flex;
  gap: 4rem;
  padding-block: 4rem;
  @media screen and (min-width: 768px) {
    padding-inline: 2.4rem;
    border: solid #eeeeee;
  }
}

.claimWrapper {
  @media screen and (min-width: 768px) {
    padding: 6.4rem;
    box-shadow: 0px 4px 40px 0px #00990012;
    border: solid #00990012;
  }
}

.leftSection {
  flex: 0.5; /* 40% of the width */
  // padding: 2rem;

  background-color: #ecfcec;
}

.rightSection {
  flex: 0.5; /* 60% of the width */
  display: flex;
  flex-direction: column;
  text-align: start;
  @media screen and (min-width: 768px) {
    padding-inline: 1.4rem;
    border-inline-start: #eeeeee solid;
  }

  & > h1 {
    color: #222222;
    font-size: 2.4rem;
    font-weight: 500;
  }
  & > p {
    color: var(--color-body-text);
    padding-block-end: 4rem;
  }
}
.photo {
  // border-bottom:solid #EEEEEE;
  border-top: solid #eeeeee;
  padding-block-start: 1.6rem;
  & > h1 {
    padding-block-end: 0.8rem;
  }
  & > p {
    padding-block-end: 4rem;
  }
}
.review {
  padding-block-start: 1.6rem;
  & > h1 {
    padding-block-end: 0.8rem;
  }
}

.reviewbtn {
  display: flex;
  justify-content: space-between;
  margin-block-end: 2.4rem;
  align-items: center;
  margin-block-start: 4rem;
}
.title {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--color-header-text);
}
.btn {
  color: var(--color-primary-green);
  font-size: 2rem;
  cursor: pointer;
}
.btnWrapper {
  display: flex;
  align-items: center;
}

.chatBtn {
  margin-block-start: 4rem;
}
.social {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-block-start: 3.2rem !important;
  border-top: #eeeeee solid;
  padding-block-start: 1.6rem;
  @media (max-width: 768px) {
    justify-content: center; // Center social icons on smaller screens
  }
}
.card {
  padding-inline: 4rem;
  border: #eeeeee solid 1px;
  padding-block: 2.4rem;
  display: flex;
    flex-direction: column;
    align-items: center
}
.info {
  display: flex;
  gap: 1rem;
  padding-block-start: 0.8rem;
  align-items: center;
}

.imageSize {
  width: 80%;
  // height: 20rem;
  // position: ;
  object-fit: cover;
}
.open {
  display: flex;
  text-align: start;
  flex-direction: column;
  padding-block-start: 1.6rem;
}

.name {
  color: var(--color-header-text);
  font-weight: 600;
  font-size: 2rem;
  padding-block: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 100%;
  }

  .image {
    height: auto; /* Ensure the image adjusts height based on content */
    padding: 2rem; /* Adds padding for smaller screens */
  }

  .picHead {
    font-size: 2.5rem; /* Smaller font size for headings on mobile */
    padding-block-end: 1rem;
  }

  .mainContainer {
    display: block; /* Stack the sections vertically */
    margin-inline: 1.6rem; /* Smaller margin for mobile */
    gap: 2rem; /* Adjust gap for smaller screens */
    padding-block: 2.4rem;
  }

  .leftSection,
  .rightSection {
    flex: 1; /* Full width on smaller screens */
    // padding: 1rem;
  }

  .reviewbtn {
    // flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
    // gap: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.8rem;
  }

  .chatBtn {
    margin-block: 0.8rem;
  }

  .card {
    padding-inline: 2rem;
    padding-block: 1.6rem;
    margin-block-end: 2.4rem;
  }

  .info {
    padding-block: 1rem;
    & > p {
      padding-block: 0.4rem;
    }
  }

  .name {
    font-size: 1.8rem;
  }
}

.subjectBg {
  color: var(--color-primary-green);
  background-color: var(--color-light-green);
  padding: 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-block-start: 1.6rem;
  border-radius: 0.8rem;
  max-width: fit-content;
  display: inline;
}

.starWrapper {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  padding-block-end: 0.8rem;
  justify-content: center;
  padding-block-start: 1.6rem;
}
.starWrapper2 {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  padding-block: 1.6rem;
  border-bottom: #eeeeee solid;
}

.message {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  gap: 0.3rem;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 1.5rem;
  color: #222222;
  font-size: 1.2rem;
  // gap: 1rem;
  display: flex;
  flex-direction: row;
}

.submittedCard {
  width: 55rem; /* Width of the card */
  max-width: 100%; /* Ensure the card is responsive on smaller screens */
  padding: 2rem 3rem;
  margin: 2rem auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (min-width: 768px) {
    margin-block: 10rem;
  }
}

.submittedCard h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.submittedCard p {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 2rem;
}

.submittedCard .buttonStyle {
  width: 100%;
  max-width: 200px; /* Ensure the button is not too wide */
}
.top {
  padding-block-end: 4.8rem;
  & > p {
    color: #6e6e6e;
  }
  & > h1 {
    color: #222222;
    font-weight: 600;
    font-size: 2.4rem;
  }
}
.wrapper {
  padding-inline: 16.8rem;
  @media (max-width: 600px) {
    padding-inline: 2.4rem;
  }
}

.inputContainer {
  margin-block: 2.4rem;
}

.inputCon {
  margin-block: 4rem;
}
.justifyCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
