.promoImageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; // Adjust the gap between images if necessary
    width: 100%; // Ensure the container takes the full width of the screen
    box-sizing: border-box;
    justify-content: space-between; // Ensure images spread across the row
    margin-block-start: 2.4rem;
  }
  
  .promoImage {
    flex: 1 1 calc(25% - 1rem); // 4 items per row, minus the gap
    max-width: 25%; // Keep the width constant for 4 per row
    box-sizing: border-box;
    img {
        border-top-left-radius: 1rem;
               border-top-right-radius: 1rem; 
      width: 100%; // Ensure images take full width of their container
      height: auto; // Maintain aspect ratio
      object-fit: contain; // Ensure the image fits without distortion
    }
  }
  
  @media (max-width: 1024px) {
    .promoImage {
      flex: 1 1 calc(33.33% - 1rem); // 3 items per row for medium-sized screens
      max-width: 33.33%; // Keep the width constant for 3 per row
    }
  }
  
  @media (max-width: 768px) {
    .promoImage {
      flex: 1 1 calc(50% - 1rem); // 2 items per row for smaller screens
      max-width: 50%; // Keep the width constant for 2 per row
    }
  }
  
  @media (max-width: 480px) {
    .promoImage {
      flex: 1 1 100%; // 1 item per row for very small screens
      max-width: 300px; // Maintain a constant size when there's only one item
      margin: 0 auto; // Center the single item on the screen
      
    }
  }
  

  .promoHead {
    display: flex;
    justify-content: space-between;
    padding-inline-end: 0.4rem;
  }
  .promoHead p {
    color: var(--color-header-text);
    font-weight: 500;
    font-size: 2.3rem;
  }
  .productList {
    padding-inline-start: 1.6rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 0 0 1rem 1rem; 
    box-shadow: 0px 4px 40px 0px #00990012;
    border: solid  #00990012;

    cursor: pointer;
    & > p {
      padding-block-start: 0.5rem !important;
    }
  }
  .starWrapper {
    align-items: end;
    display: flex;
    padding-block-end: 2rem;
    gap: 1rem;
  }
  
  .back{
    display:flex;
    align-items: center;
    gap:1rem;
    cursor: pointer;
    padding-block-end: 2.4rem;
    & > p{
        font-size: 2rem;
        font-weight: 600;
    }
  }