.subjectBg {
  color: var(--color-primary-green);
  background-color: var(--color-light-green);
  padding: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 0.8rem;
}
.flexContain {
  display: flex;
  gap: 2rem;
  @media (max-width: 768px) {
    margin-inline: 2rem;
      }
}
.para {
  display: flex;
  text-align: start;
  flex-direction: column;
  padding-block: 1.6rem;
  // padding: 1.6rem;
  @media (max-width: 768px) {
margin-inline: 2rem;
  }
}
.reviewContent{
  padding-block: 1rem;
}

.starWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-block: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: start;
}


.card {
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  padding: 5.5px;
  min-width: 100%;  // Ensures the card takes up the full width of its parent
  text-align: start;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; // Ensures padding doesn't affect the width

  // Optional: adjust padding to suit the layout needs
  padding-inline: 2.4rem; // Adjust padding if you want some space inside the card
  padding-block: 1.6rem;

  & > p {
    color: var(--color-body-text);
    padding-block: 1rem;
  }

  & > span {
    color: var(--color-body-text);
    padding-block: 1rem;
  }

  & > h2 {
    color: var(--color-header-text);
    font-weight: 600;
    font-size: 2.4rem;
  }
}


.dateTimeWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-right: solid 1px rgba(112, 112, 112, 1);
    padding-right: 0.8rem;

    & span {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.1rem;
      color: rgba(112, 112, 112, 1);
    }

    & div {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      background-color: rgba(112, 112, 112, 1);
    }
  }

  & p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: rgba(112, 112, 112, 1);
  }
}
.seeBtn {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-block-start: 1.6rem;
  margin-block-end: 4rem;

}


.noReview{
  display: flex;
  flex-direction: column;
align-items: center;
  justify-content: center;
  & > p {
    padding-inline: 0.4rem;
  }
}
.NoReviewWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  width: 100%;
}
.emtBtn{
  padding-block-start: 4rem;
}




// Inside index.module.scss

.productImage {
  width: 100%;
  height: auto; // Maintain aspect ratio for responsive resizing
  max-width: 100%; // Prevent overflow
  object-fit: cover; // Ensures the image scales without distorting
}

@media (max-width: 768px) {
  .dressCard {
    width: 45%; // Adjust as needed for smaller screens
  }

  .promoImage {
    width: 100%;
    height: auto;
  }
}

.reviewbtn {
  display: flex;
  justify-content: space-between;
  margin-block-end: 2.4rem;
  align-items: center;
  // margin-block-start: 4rem;
  & > h1 {
    font-size: 2.4rem;
    font-weight: 600;
  }
}
.title {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--color-header-text);
}
.btn {
  color: var(--color-primary-green);
  font-size: 2rem;
  cursor: pointer;
}
.btnWrapper {
  display: flex;
  align-items: center;
}

.specContainer {
  padding: 1.5rem 1rem;
  background-color: #fff;
  border-radius: 10px;

  h2 {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

 

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  .item {
    width: 48%;
    margin-bottom: 0.5rem;
  }

  .label {
    font-size: 1.6rem;
    color: gray;
    margin-bottom: 0.2rem;
  }

  .value {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
  }
}
