
.promoImageContainer {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Flexible columns */
  gap: 2rem; /* Space between the items */
  // justify-items: center;
  padding: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(250px, 250px)); /* Fixed-width cards */
  justify-content: start; 
}

.promoImage {
  width: 250px;
  display: flex;
  flex-direction: column;
  // width: 100%; 
  background: #fff; 
  border-radius: 8px; 
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.promoImage img {
  // object-fit: cover;
  width: 100%;
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */
}

.promoHead {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.promoHead p {
  color: var(--color-header-text);
  font-weight: 500;
  font-size: clamp(1.5rem, 2vw, 2.3rem); /* Responsive font size */
}

.productList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 0 0 1rem 1rem; 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.productList p {
  font-size: clamp(1rem, 1.2vw, 1.6rem); /* Responsive font size */
}

.starWrapper {
  align-items: end;
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.canceledText {
  text-decoration: line-through;
  color: red;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6e6e6e;
}

.proImage {
  height: auto;
  max-height: 260px;
  width: 100%;
}

@media (max-width: 768px) {
  .promoImageContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Fewer columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .promoImage {
    width: 90%; /* Make images smaller */
    margin: 0 auto; /* Center items */
  }

  .productList {
    padding: 0.8rem;
  }

  .starWrapper {
    padding: 0.5rem 0;
  }
}
