.pricingModal {
    padding: 1rem 0;
  
    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      color: #222222;
      margin-bottom: 0.5rem;
    }
  
    .subtitle {
      color: #707070;
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
    }
  }
  
  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  
  
  .optionCard {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1rem;
    transition: all 0.2s ease;
    margin-block-end: 1.6rem;
    display: flex;
  }
  
  .optionCard:hover {
    border-color: #00a00033;
  }
  
  .active {
    background-color: #eaffea;
    border-color: #00a000;
  }
  
  .optionText {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    color: #4F4F4F;
  }

  
  
  .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #4F4F4F;
  }
  
  .radio {
    width: 100%;
  }
  
  .footerButtons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  
    .cancelBtn {
      flex: 1;
      border: 1px solid #eee;
      background: #fff;
      color: #00a000;
      font-weight: 500;
    }
  
    .subscribeBtn {
      flex: 1;
      background: #00a000;
      border-color: #00a000;
      font-weight: 500;
    }
  }
  