.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
//   .section {
//     max-width: 90%;
//   }

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
.children {
  flex-grow: 1;
    // padding: 5rem;
//   background-color: #fafafa;
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    // display: block;
  }

  // & > div {
  //   display: flex;
  //   justify-content: center;
  //   width: 100%;
  // }
 
}
