
.DeleteModalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-block: 3rem;
  
    & > p:first-of-type {
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3rem;
      letter-spacing: -0.02em;
      text-align: center;
  
      color: #222222;
    }
  
    & > p:nth-of-type(2) {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      letter-spacing: -0.02em;
      color: var(--color-body-text);
    }
  
    & > .btn {
      width: 100%;
      display: flex;
      gap: 1.6rem;
    } 
  }
  