.reviweWrapper {
  width: 100%; // Ensure wrapper takes up full screen width
  padding-inline: 6rem;
  padding-block: 2.4rem;
  align-items: start;
  border-radius: 0.8rem;
  border: 1px solid var(--color-grey);
  @media (max-width: 768px) {
    padding-inline: 2rem;


  }
}

.wrappers {
  width: 100%;
  display: flex;
  flex-wrap: wrap; // Allow the cards to wrap to the next line when necessary
  gap: 2rem; // Space between the cards
}

.back {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding-block-start:4rem;

  padding-block-end: 2.4rem;
  & > p {
    font-size: 2rem;
    font-weight: 600;
  }
}
.card {
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  padding: 5.5px;
  min-width: 100%; // Ensures the card takes up the full width of its parent
  text-align: start;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; // Ensures padding doesn't affect the width

  // Optional: adjust padding to suit the layout needs
  padding-inline: 2.4rem; // Adjust padding if you want some space inside the card
  padding-block: 1.6rem;

  & > p {
    color: var(--color-body-text);
    padding-block: 1rem;
  }

  & > span {
    color: var(--color-body-text);
    padding-block: 1rem;
  }

  & > h2 {
    color: var(--color-header-text);
    font-weight: 600;
    font-size: 2.4rem;
  }
}

.dateTimeWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-right: solid 1px rgba(112, 112, 112, 1);
    padding-right: 0.8rem;

    & span {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.1rem;
      color: rgba(112, 112, 112, 1);
    }

    // & div {
    //   width: 0.9rem;
    //   height: 0.9rem;
    //   border-radius: 50%;
    //   background-color: rgba(112, 112, 112, 1);
    // }
  }

  & p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: rgba(112, 112, 112, 1);
  }
  @media (max-width: 640px) {
    display: block;


  }
}

.starWrapper {
  display: flex;
  gap: 0.5rem;
  padding-block: 1rem;
}

.reviewContent {
  padding-block: 1rem;
  color: var(--color-head-text);
  align-items: start;
  display: flex;
}

.promoHead {
  display: flex;
  justify-content: space-between;
  padding-block-end: 4rem;
  padding-block-start: 1.6rem;
}
.promoHead p {
  color: var(--color-header-text);
  font-weight: 500;
  font-size: 2.3rem;
}
