.starWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.cardreview {
  width: 100%; /* Make sure the card takes up the full width of its container */
  //   margin: 1rem auto; /* Center the card with spacing on all sides */
  padding-inline: 4rem; /* Padding inside the card */
  border-radius: 10px; /* Rounded corners for the card */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  text-align: start;
  border: solid 1px var(--color-grey) !important ;
  margin-block-end: 2rem;
  padding-block: 2.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */

  & > p {
    color: var(--color-body-text);
    padding-block: 0.8rem;
  }

  //   & > div {
  //     padding-block: 0.5rem;
  //   }

  & > h2 {
    color: var(--color-header-text);
    font-weight: 600;
    font-size: 1.8rem;
    border-bottom: #d9d9d9 1px solid;
    padding-block-end: 1.6rem;
  }
}

.adding {
  padding-block-start: 2.3rem !important;
}
.reviewInput {
  margin-block-end: 6.4rem;
  margin-block-start: 2.4rem;
}
.seeBtn {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-block-start: 1.6rem;
  margin-block-end: 4rem;
}

.RewiwvWrapper {
  width: 100%;
  height: fit-content;
}
.back {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding-block-end: 2.4rem;
  padding-block-start: 4rem;

  & > p {
    font-size: 2rem;
    font-weight: 600;
  }
}

.RewiwvWrapper {
  position: relative;
}

.cardreview {
  width: 100%;
  padding: 2rem 4rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: solid 1px var(--color-grey);
  margin-block-end: 2rem;
  padding-block: 2.4rem !important;
}

.submittedCard {
  width: 55rem; /* Width of the card */
  max-width: 100%; /* Ensure the card is responsive on smaller screens */
  padding: 2rem 3rem;
  margin: 2rem auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submittedCard h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.submittedCard p {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 2rem;
}

.submittedCard .buttonStyle {
  width: 100%;
  max-width: 200px; /* Ensure the button is not too wide */
}
