.ModalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-block: 3rem;
    text-align: center !important;
  
    & > h3 {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: -0.02em;
      color: #222222;
      @media screen and (max-width: 768px) {
        font-size: 1.8rem;
      }


       
    }
  
    & > .btn {
      width: 100%;
      display: flex;
      gap:2rem;
    }
    // & > .btn {
    //   width: 100%;
    // }
  }
  