

.container {
  padding: 2rem;
  max-height: 85vh;
  overflow-y: auto;
}

.backBtn {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: #333;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    color: var(--color-primary-green);
  }
}

.header {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.search {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.listWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.itemBox {
  padding: 1rem;
  background: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;

  &:hover {
    background: #e8f8ee;
  }
}

.itemText {
  color: #444;
}

.arrow {
  color: var(--color-primary-green);
}

/* Tablet */
@media (max-width: 1024px) {
  .listWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .listWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}




.myLocationBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem;
  background: #f6f6f6;
  border-radius: 8px;
  margin-bottom: 2rem;
  cursor: pointer;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .icon {
    font-size: 1.6rem;
  }

  .texts {
    display: flex;
    flex-direction: column;
  }

  .main {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .sub {
    font-size: 1.2rem;
    color: #888;
  }

  .arrow {
    font-size: 1.8rem;
    color: #999;
  }
}

.itemBox {
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #ececec;

  &:hover .itemText {
    color: var(--color-primary-green);
  }
}

.backBtn {
  background: none;
  border: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
